{
  "extends": [
    "airbnb-base",
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "plugins": ["html", "arca"],
  "env": {
    "browser": true
  },
  "rules": {
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 1
      }
    ],
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "arca/import-align": 2,
    "no-multi-spaces": ["error", { "exceptions": { "ImportDeclaration": true } }]
  }
}
