doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title {{ appTitle }}

  body
    div(hidden)
      if htmlWebpackPlugin.files.sprites
        each svgContent in htmlWebpackPlugin.files.sprites
          != svgContent

    #app
      noscript Turn on JavaScript and reload page
