<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title {{ name }}
    link(rel="stylesheet", href="/css/critical.css")
    link(rel="stylesheet", href="/css/main.css")
  body
    div(hidden)
      if htmlWebpackPlugin.files.sprites
        each svgContent in htmlWebpackPlugin.files.sprites
          != svgContent

    #app
      .critical

    script(src="/bundle/main.js", type="text/javascript")
